.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navigation_bar{
  float:left;
  margin:0;
  padding:1em;
  list-style:none;
}
#navbar_icons{
  margin-right:0.5em;
}
.web_name{
  font-size:1.5em;
  text-align:center;
}
.options{
  font-size:1.3em;
  text-align:left;
}

.loader-text{
  display: block;
  margin: 1em;
}

.loader-main{
  text-align: center;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 16px solid #784d3d;
  border-radius: 50%;
  border-top: 16px solid antiquewhite;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and ( max-width : 420px ) {
  .loader{
    display: none;
  }

}